<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZegiestowskyCalculatorApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A49C0DE71BC366D000671406</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A49C0DFB1BC366D100671406</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A49C0E061BC366D100671406</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
